/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1430px;
    padding: 60px 30px;
    margin: 0 100px;
}
/*Gallery Page*/
aside{
    background-color: #ea513e;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    flex: 0 1 850px;
    text-align: left;
}
.asidediv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
}
.homebtn{    
    background-color: #ea513e;
    box-shadow: none;    
    border: 1px solid white;
    border-radius: 8px;
    width: 70px;
    height: 30px;
}
.homebtn a{
    color: white;
    text-decoration: none;
}
span img{
    padding-top: 20px;
    width: 10%;
}
.mainsection{
    padding-left: 350px;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    flex: 0 1 850px;
}
.galleryimg{    
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.galleryimg img{
    width: 100%;
    border: 1px solid black;
    margin: 20px 0;
    object-fit: cover;
}
.gallerytxt{
    margin-left: 410px;
}
.gallerynav {
    display: flex;
}
.gallerynav a{
    text-decoration: none;
    color: black;
}
.sites{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    margin-top: 10px;
    background-color: #ea513e;
}

/*Heading tags*/

h1{
    font-size: 25px;
    font-weight: 900;
}
h2{
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    padding-bottom: 10px;
}
h3{
    font-size: 18px;
    color: white;
    font-weight: 900;
    padding-bottom: 15px;
}
h4{
    font-size: 20px;
    color: white;
    font-weight: 700;
}
h5{
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
}
h6{
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.heading6{
    font-style: italic;
    text-transform: none;
}
p{
    margin-bottom: 10px;
}
.brandname{
    color: #ea513e;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
}
.txtdigi_mar{
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
}
.heading5{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-size: 15px;
    padding: 10px;
}
.hometxt{
    text-decoration: overline;
    text-decoration-color: #ea513e;
}

/*Index page*/

/*Header*/
header img{
    width: 100%;
    height: 50%;
}
.circlesection{
    display: flex;
    justify-content: center;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
}
.light{
    background-color: gray;
}
.head {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.head a{
    text-decoration: none;
    color: black;
}
.socialsites{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}
.navtext a{
    color: black;
    margin-right: 30px;
    font-weight: 600;
}
.navtext .hometxt{
    color: #ea513e;
}
.navigate{
    margin-top: 30px;
    display: flex;
    width: 900px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.navigate img{
    width: 80px;
}
.navigate a{
    text-decoration: none;
}
.navbar{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.articlesec{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}
.brand{
    display: flex;
    align-items: center;
}
.headbtn{
    width: 120px;
    height: 40px;
    background-color: #ea513e;
    border: none;
    box-shadow: none;
    justify-content: center;
}
.headbtn a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

/*Services*/
.services{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.services img{
    width: 30%;
    padding-top: 50px;
}
.services .serv1{
    width: 230px;
    height: 250px;
    margin: 30px 20px;
    background-color: #5cbd9d;
    padding: 52px 40px;
}
.services .serv2{    
    width: 230px;
    height: 250px;
    padding: 52px 40px;
    margin: 30px 20px;
    background-color: #e67f31;
}
.services .serv3{    
    width: 230px;
    height: 250px;
    padding: 52px 40px;
    margin: 30px 20px;
    background-color: #3998db;
}
.services .serv4{    
    width: 230px;
    height: 250px;
    padding: 52px 40px;
    margin: 30px 20px;
    background-color: #68cd73;
}
/*Portfolio*/
.portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.portfolio img{
    width: 25%;
    padding: 20px;
    object-fit: cover;
}
/*Our Team*/
.ourteam {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.ourteam img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
}
/*Design Skills*/
.designskills{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.col1{
    width: 70%;
    margin: 10px;
    text-align: left;
}
.col2{
    width: 20%;
    margin: 10px;
}
/*Contact*/
address a{
    text-decoration: none;
    color: black;
}
.box{
    width: 280px;
    height: 30px;
    margin: 10px;
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
}
.box1{
    width: 280px;
    height: 80px;
    margin: 10px;
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
}
.contactbtn{
    text-align: center;
    width: 280px;
    height: 30px;
    margin: 10px;
    border: none;
    background-color: #ea513e;
    box-shadow: none;
}
.contactbtn a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

/*Footer*/
.backtop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    box-shadow: none;
    color: white;
    background-color: #ea513e;
    position: fixed;
    border: none;
    right: 32px;
    bottom: 32px;
    text-decoration: none;
    text-transform: uppercase;
}